@model IEnumerable<Laptop>

<div class="container mt-4">
    <h2 class="text-center">Laptop List</h2>

    <a asp-action="Create" class="btn btn-primary mb-3">Add Laptop</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Brand</td>
                    <td>@item.Model</td>
                    <td>@item.StockQty</td>
                    <td>@item.Price</td>
                    <td>@item.CreatedDate.ToShortDateString()</td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>